.box {
    border: 1px solid #d1d9e0;
    border-radius: 6px;
    padding-bottom: 6px;
    background-color: #f6f8fa;
}

.box>.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.box>:not(.header) {
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.box>:not(:last-child),
.issue {
    border-bottom: 1px solid #d1d9e0;
}

#language-selection select {
    min-width: 16rem;
}

#issue-selection .content {
    min-height: 3rem;
}

#issue-selection .content>div {
    position: relative;
    background-color: white;
}

#issue-selection:has(#hideEmpty:checked) .issue:has(.no-strings) {
    display: none;
}

.issue button {
    width: 12rem;
    cursor: pointer;
}

body:has(option[value="none"]:checked) .issue button.actual {
    display: none;
}

body:not(:has(option[value="none"]:checked)) .issue button.dummy {
    display: none;
}

#filter {
    margin-top: auto;
    margin-bottom: auto;
}

#empty {
    position: absolute !important;
}

#loading,
#empty {
    padding: 0.5rem 1rem;
    font-style: italic;
}

.issue {
    padding: 0.5rem 1rem;
}

.issue .header,
.issue .header>span {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.issue .header .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.issue .header a {
    text-align: right;
}

.issue .header a img {
    height: 1rem;
    vertical-align: middle;
}

.issue .languages a {
    display: inline-block;
    margin-left: 0.5rem;
}

.issue .languages a.done {
    color: gray;
}

.issue .no-strings {
    font-style: italic;
}