.language:hover {
    background-color: #aaa;
    cursor: pointer;
}

.language.active {
    background-color: #555;
}

/* disable line breaks */

[contenteditable="true"] {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

[contenteditable="true"] br {
    display: none;
}

[contenteditable="true"] * {
    display: inline;
    white-space: nowrap;
}

/* styling */
[contenteditable="true"] {
    border: 1px solid #ccc;
    padding: 0.5em;
    min-height: 2em;
    outline: none;
}

/* typing hint */
[contenteditable="true"]:empty:before {
    content: "Type here...";
    color: #aaa;
    pointer-events: none;
}